@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.container {
  width: 384px;
  height: 576px;
  padding: 0;
  margin: 20px 0 0 20px; /* Прикрепляем контейнер к верхнему левому углу */
  border-radius: 0; /* Убираем закругление у главного блока */
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  color: #333333;
  font-size: 36px;
  margin-bottom: 10px;
}

.subtitle {
  color: #666666;
  font-size: 18px;
}

.content {
  text-align: center;
}

.info-block {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px; /* Оставляем закругление у вспомогательных блоков */
}

.label {
  color: #333333;
  font-weight: bold;
  margin-bottom: 10px;
}

.value {
  color: #555555;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
  border-radius: 10px; /* Закругляем углы кнопки */
}

button:hover {
  background-color: #45a049;
}
